flows.json
[
    {
        "id": "3e1548d23071684d",
        "type": "tab",
        "label": "Github Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0f8f675b95a17b4",
        "type": "http response",
        "z": "3e1548d23071684d",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ae1496cd0bb48c7",
        "type": "http in",
        "z": "3e1548d23071684d",
        "name": "Github Websocket",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "3c890f2649bee442"
            ]
        ]
    },
    {
        "id": "3c890f2649bee442",
        "type": "change",
        "z": "3e1548d23071684d",
        "name": "Transform object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "b0f8f675b95a17b4"
            ]
        ]
    },
    {
        "id": "52f4c5dda87a1046",
        "type": "aedes broker",
        "z": "3e1548d23071684d",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": null,
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "3c890f2649bee442"
            ],
            [
                "dbe65ffdbf075add"
            ]
        ]
    },
    {
        "id": "e954a0a3eca283dd",
        "type": "mqtt out",
        "z": "3e1548d23071684d",
        "name": "Publisher",
        "topic": "github",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ec0962840d16957",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "dbe65ffdbf075add",
        "type": "change",
        "z": "3e1548d23071684d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topicstring",
                "pt": "msg",
                "to": "github",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "e954a0a3eca283dd"
            ]
        ]
    },
    {
        "id": "6bfe995e0d79a8a5",
        "type": "mqtt in",
        "z": "3e1548d23071684d",
        "name": "Test-sub",
        "topic": "github",
        "qos": "0",
        "datatype": "auto",
        "broker": "0ec0962840d16957",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "e954a0a3eca283dd",
                "835d02e659359941"
            ]
        ]
    },
    {
        "id": "4e52540e75351cb5",
        "type": "debug",
        "z": "3e1548d23071684d",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "835d02e659359941",
        "type": "delay",
        "z": "3e1548d23071684d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "4e52540e75351cb5"
            ]
        ]
    },
    {
        "id": "0ec0962840d16957",
        "type": "mqtt-broker",
        "name": "my-local-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]